/* Formatting for Popup Box */
.popup .overlay {
  background: rgba(0, 0, 0, 0.3);
  display: none;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 0;
}

.popup .popup-content {
  background: #fff;
  border-color: #000;
  border-image: initial;
  border-style: solid;
  border-width: initial;
  box-sizing: border-box;
  color: #000;
  left: 75%;
  margin: 10px;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 65%;
  transform: translate(-50%, -50%) scale(0);
  width: 500px;
  z-index: 2;
}

/* Close Button [X] for the Popup */
.popup .close-button {
  background: #222;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 20px;
  width: 30px;
}

.popup.active .overlay {
  display: block;
}

.popup.active .popup-content {
  transform: translate(-50%, -30%) scale(1);
  transition: all 300ms ease-in-out 0s;
}

/* Add Rec Form Elements */
label {
  display: inline-block;
}

textarea {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 15px;
  resize: none;
}

.radio-buttons {
  margin: 10px;
}

/* Submit Button for Add Rec Form */
input[type="submit"] {
  background-color: #222;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: "Chelsea Market", cursive;
  font-size: 15px;
  font-weight: 600;
  margin: 15px;
  padding: 12px 20px;
}

/* Radio Buttons for Add Rec Form */
input[type='radio']:after {
  background-color: #d1d3d1;
  border: 2px solid white;
  border-radius: 15px;
  content: '';
  display: inline-block;
  height: 15px;
  left: -1px;
  position: relative;
  top: -2px;
  visibility: visible;
  width: 15px;
}

input[type='radio']:checked:after {
  background-color: #ffa500;
  border: 2px solid white;
  border-radius: 15px;
  content: '';
  display: inline-block;
  height: 15px;
  left: -1px;
  position: relative;
  top: -2px;
  visibility: visible;
  width: 15px;
}

.flex-item:before {
  content: '';
  padding-top: 26%;
}

.flex-item {
  align-items: center;
  color:#fff;
  display: flex;
  justify-content: center;
  width: 30px;
}

.flex-item-description {
  align-items: center;
  color:#000;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
  width: 80px;
}

.button-row {
  display: flex;
  margin-bottom: 5px;
  text-align: center;
}
