body {
  width: 100%;
  margin: auto;
  font-family: 'Chelsea Market', cursive;
  background-color: #fbe8a6;
  text-align: center;
}

h1 {
  font-family: 'Chelsea Market', cursive;
  font-size: 36px;
  color: white;
  margin: 10px;
}

h2 {
  font-family: 'Chelsea Market', cursive;
  font-size: 28px;
  color: white;
  margin: 10px;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: white;
  margin: 5px;
}

.f1 {
  font-family: 'Chelsea Market', cursive;
  font-size: 36px;
  color: white;
  margin: 10px;
}

.f2 {
  font-family: 'Chelsea Market', cursive;
  font-size: 28px;
  color: white;
  margin: 10px;
}

.f3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: white;
  margin: 5px;
}

p {
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  color: white
}

.header {
  width: inherit;
  background-color: #303c6c;
  text-align: center;
  padding-top: 20px;
}

/* Style navigation bar */
nav {
  position: relative;
  background-color: #f4976c;
  overflow: hidden;
}

/* Align bar items */
nav ul {
  text-align: center;
  margin: 0px;
}

/* Style bar items */
nav ul li {
  float: none;
  display: inline-block;
  text-align: center;
  padding: 10px;
}

/* Change bar item coler when cursor hovers over it */
nav ul li:hover {
  background-color: #faaf8c;
}

/* Style the links inside the navigation bar */
nav ul li a {
  color: white !important;
  font-size: 18px;
  text-decoration: none;
}

.content {
  text-align: center;
  min-height: calc(100vh - 259px);
  padding: 30px;
}

.footer {
  height: 80px;
  width: inherit;
  background-color: #303c6c;
  text-align: center;
}

.button {
  font-family: 'Chelsea Market', cursive;
  background-color: #f4976c;
  color: #fbe8a6;
  font-size: 16px;
  padding: 15px;
  width: 100px;
  margin: 30px auto;
}

.button a {
  text-decoration: none;
  color: #fbe8a6;
}

.button:hover{
  background-color: #fabc9f;
}
