body {
  background-color: #fbe8a6;
  margin: auto;
  font-family: 'Chelsea Market', cursive;
  text-align: center;
  width: 100%;
  background-color: white;
}

h1 {
  color: white;
  font-family: 'Chelsea Market', cursive;
  font-size: 36px;
  margin: 20px;
}

h2 {
  color: white;
  font-family: 'Chelsea Market', cursive;
  font-size: 28px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

h3 {
  color: white;
  font-family: "Chelsea Market", cursive;
  font-size: 20px;
  margin: 5px;
}

p {
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
}

.f1 {
  color: white;
  font-family: 'Chelsea Market', cursive;
  font-size: 36px;
  margin: 10px;
}

.f2 {
  color: white;
  font-family: 'Chelsea Market', cursive;
  font-size: 28px;
  margin: 10px;
}

.f3 {
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  margin: 5px;
}

p {
  font-family: 'Chelsea Market', cursive;
  font-size: 16px;
  color: white
}

.header {
  background-color: #303c6c;
  padding-top: 20px;
  text-align: center;
  width: inherit;
}

.header h3 {
  color: white;
}

footer {
  background-color: #303c6c;
  color: white;
  clear: both;
  font-family: 'Chelsea Market', cursive;
  padding: 10px 0px;
  text-align: center;
  width: inherit;
}

footer p {
  color: #fff;
}

/* Style navigation bar */
nav {
  background-color: #f4976c;
  overflow: hidden;
  position: relative;
}

/* Align bar items */
nav ul {
  margin: 0px;
  text-align: center;
}

/* Style bar items */
nav ul li {
  display: inline-block;
  float: none;
  padding: 10px;
  text-align: center;
}

/* Change bar item coler when cursor hovers over it */
nav ul li:hover {
  background-color: #faaf8c;
}

/* Style the links inside the navigation bar */
nav ul li a {
  color: white !important;
  font-size: 18px;
  text-decoration: none;
}

/* Back to Top Button */
#to-top-button {
  background-color: black;
  border: 5px solid white;
  border-radius: 4px;
  bottom: 20px;
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Chelsea Market', cursive;
  font-size: 18px;
  outline: none;
  padding: 15px;
  position: fixed;
  right: 30px;
  z-index: 99;
}

#to-top-button:hover {
  background-color: #555;
}

.title {
  color: #303c6c;
  font-size: 48px;
}

.button {
  background-color: #f4976c;
  border: none;
  border-radius: 25px;
  color: white;
  font-family: 'Chelsea Market', cursive;
  font-size: 16px;
  margin: 10px auto;
  padding: 15px;
  width: 100px;
}

.button a {
  color: white;
  text-decoration: none;
}

.button:hover{
  background-color: #fabc9f;
}

label {
  color: white;
  display: block;
  padding: 10px;
}

input {
  color: black;
  font: inherit;
  overflow: visible;
  appearance: none;
  margin: 10px;
}

input[type="file"] {
  padding-left: 100px;
  color: white;
}

textarea {
  color: black;
  font-family: "Chelsea Market", sans-serif;
  font-size: 16px;
  resize: none;
}
