body {
  background-color: #303c6c;
}

.content {
  min-height: 0;
  width: inherit;
  height: 30vh;
  margin: auto;
  position:relative;
}

.container {
  position: absolute; 
  top: 50%;
  right: 50%;
  height: 100px;
  width: 600px;
  margin: -50px -300px;
  text-align: center; 
}

label {
  color: white;
}
