body {
  background-color: #303c6c;
}

.content {
  height: 30vh;
  margin: auto;
  min-height: 0;
  position:relative;
  width: inherit;
}

.container {
  height: 100px;
  margin: -50px -300px;
  position: absolute; 
  right: 50%;
  top: 50%;
  text-align: center; 
  width: 600px;
}

input {
  appearance: none;
  border: none;
  box-sizing: inherit;
  color: #fbe8a6;
  font: inherit;
  overflow: visible;
}

.profilepic {
  padding-left: 100px;
}
