body {
  background-color: #303c6c;
}

.content {
  margin: auto;
  position: relative;
  height: 100vh;
  width: inherit;
}

.container {
  height: 300px;
  margin: -150px -300px;
  position: absolute; 
  right: 50%;
  text-align: center; 
  top: 50%;
  width: 600px;
}
