body {
  background-color: #303c6c;
}

.content {
  width: inherit;
  height: 100vh;
  margin: auto;
  position: relative;
}

.container {
  position: absolute; 
  top: 50%;
  right: 50%;
  height: 300px;
  width: 600px;
  margin: -150px -300px;
  text-align: center; 
}
