
/* --- Recommendation Map Styling --- */

.map-category-button {
  background-color: rgb(1, 114, 114);
  border-color: white;
  border-image: initial;
  border-radius: 10px;
  border-style: initial;
  border-width: initial;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Chelsea Market", cursive;
  font-size: 15px;
  padding: 10px 20px;
  text-align: center;
  width: 18%;
}

.map-category-button:hover {
  background-color: #21b5b5;
}

.map-category-section {
  padding: 10px;
  text-align: center;
}

#map {
  background: grey;
  border-color: #000;
  border-image: initial;
  border-radius: 20px;
  border-style: solid;
  border-width: initial;
  height: 500px;
  flex: 0 0 50%;
  margin: 40px;
  width: 50%;
}

.map-section {
  display: block;
}

/* --- Content from Above Map --- */

.content {
  display: flex;
}

.info-paragraph {
  color: rgb(0, 0, 0);
  display: inline-block;
  padding: 10px;
  position: relative;
  text-align: left;
  width: 50%;
}

.info-paragraph h3 {
  float: left;
  padding: 0px;
  text-align: left;
}

.info-paragraph p {
  color: #000;
  float: left;
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* --- Recommendation View Box --- */

#rec-container {
  background: rgb(237,237,238);
  border-color: #000;
  border-image: initial;
  border-style: solid;
  border-width: initial;
  box-sizing: border-box;
  color: #000;
  flex: 1;
  margin: 40px;
  padding: 10px;
  position: relative;
  text-align: center;
}

#rec-container h3 {
  font-size: 30px;
  padding: 50px;
}

#rec-container h4 {
  color: cadetblue;
  font-size: 17px;
  font-weight: 500;
  margin: 0px;
}

#rec-address {
  color: grey;
}

#rec-container p {
  font-size: 20px;
  padding: 5px 30px 10px 30px;
}

/* Wrapper Containing Map and Recommendation Box */
.wrapper {
  display: flex;
}
