.user-card {
  background: #f4976c;
  border-radius: 25px;
  color: white;
  display: inline-block;
  margin: 30px;
  padding: 20px;
  text-align: center;
  width: 270px;
}

.user-img {
  border-radius: 20%;
  height: 230px;
  margin: auto;
  padding: 20px;
  width: 230px;
}

.button {    
  background: #38afac;
  border: none;
  color: white !important;
  width: 150px;
}

.button:hover {    
  background: #9afaf7;
}
