.user-card {
  background-color: #f4976c;
  color: white;
  display: inline-block;
  height: 350px;
  margin: 30px;
  padding: 20px;
  text-align: center;
  width: 270px;
}

.user-img {
  height: 230px;
  margin: auto;
  padding: 20px;
  width: 230px;
}
