h3, h4, p {
  line-height: 1.15;
}

.user-card {
  background: #f4976c;
  border-radius: 25px;
  color: white;
  display: inline-block;
  height: 500px;
  margin: 30px;
  padding: 20px;
  text-align: center;
  width: 300px;
  vertical-align: bottom;
}

.profile-picture {
  border-radius: 20%;
  height: 230px;
  margin: auto;
  padding: 20px;
  width: 230px;
}

.button {    
  background: #38afac;
  border: none;
  color: white !important;
  width: 150px;
}

.button:hover {    
  background: #5cd6d6;
}
